@page
@model MusicDB.Pages.Robert.DetailsModel

@{
    ViewData["Title"] = "Song Details";
}

<head>
    <link rel="stylesheet" href="~/css/robert.css">
</head>

<h1>Song Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.SongTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.SongTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Artist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Album)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.SongLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.SongLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.ReleaseDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Details" asp-route-id="@ViewData["prevId"]">Previous</a>
    <a asp-page="./Edit" asp-route-id="@Model.Song?.Id">Edit</a>
    <a asp-page="./Index">Return</a>
    <a asp-page="./Delete" asp-route-id="@Model.Song?.Id">Delete</a>
    <a asp-page="./Details" asp-route-id="@ViewData["nextId"]">Next</a>
</div>
